#logo{
	background-image: url("Images/logo.png");
	background-repeat: no-repeat;
	height:300px;
	width:1000px;
	margin-left: auto;
	margin-right: auto;
}
#nav{
	/* height: 500px;
	width: 300px; */
	height: 100%;
	width: 20%;
	float: left;
}
#main{
	/* height: 500px;
	width: 1200px; */
	height: 100%;
	width: 80%;
	float:left;
}